@model Casgem_CodeFirstProject.Dal.Entities.About

@{
    ViewBag.Title = "EditAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h3>Hakkımızda Güncelle</h3>
<hr />

<form method="post">

    <input type="hidden" class="form-control" name="AboutId" value="@Html.ValueFor(x=>x.AboutId)" />


    <div class="mt-3">
        <label>Fotoğraf</label>
        <input type="text" class="form-control" name="AboutImgUrl1" value="@Html.ValueFor(x=>x.AboutImgUrl1)" />

    </div>

    <div class="mt-3">
        <label>Başlık</label>
        <input type="text" class="form-control" name="AboutTitle1" value="@Html.ValueFor(x=>x.AboutTitle1)" />
    </div>

    <div class="mt-3">
        <label>Açıklama</label>
        <textarea name="AboutDes1" class="form-control">@Html.ValueFor(x=>x.AboutDes1)</textarea>
    </div>

    <hr />


    <div class="mt-3">
        <label>Başlık 2</label>
        <input type="text" name="AboutTitle2" class="form-control" value="@Html.ValueFor(x=>x.AboutTitle2)" />
    </div>

    <div class="mt-3">
        <label>Açıklama 2</label>
        <textarea name="AboutDes2" class="form-control">@Html.ValueFor(x=>x.AboutDes2)</textarea>
    </div>

    <hr />

    <div class="mt-3">
        <label>Fotoğraf 2</label>
        <input type="text" name="AboutImgUrl2" class="form-control" value="@Html.ValueFor(x=>x.AboutImgUrl2)" />

    </div>

    <div class="mt-3">
        <label>Başlık 3</label>
        <input type="text" name="AboutTitle3" class="form-control" value="@Html.ValueFor(x=>x.AboutTitle3)" />
    </div>

    <div class="mt-3">
        <label>Açıklama 3</label>
        <textarea name="AboutDes3" class="form-control">@Html.ValueFor(x=>x.AboutDes3)</textarea>
    </div>


    <div class="mt-3">
        <a href="/Admin/ListAbout/" class="btn btn-danger">İptal</a>
        <input type="submit" class="btn btn-warning" value="Güncelle" />
    </div>


</form>




