@model List<Casgem_CodeFirstProject.Dal.Entities.Destination>

<section class="w3l-covers-18">
    <div class="covers-main editContent">
        <div class="container">
            <div class="main-titles-head ">
                <h3 class="header-name">
                   Popüler Tur Rotaları
                </h3>
                <p class="tiltle-para editContent "></p>
            </div>
            <div class="gallery-image row">
                @foreach (var i in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="img-box mb-4">
                            <img src="@i.ImageUrl" alt="product" class="img-responsive ">
                            <h5 class="my-2"><a href="about.html">@i.DestinationName</a></h5>
                            <div class="blog-date">
                                <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Days</p> <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>@i.Capacity</p>
                            </div>
                            <p class="para">@i.Desription</p>
                            <div class="top-gap">
                                <h5>@i.Price</h5>
                                <a href="#url" class="icon text-center"><span class="fa fa-chevron-right"></span></a>
                            </div>
                        </div>
                    </div>
                    
                }

                @*<div class=" col-lg-4 col-md-6 top-top2">
                    <div class="img-box">
                        <img src="~/Temlates/Vitrin/assets/images/b1.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">New Zealand</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Days</p> <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Max People : 5</p>
                        </div>
                        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                        <div class="top-gap">
                            <h5>from $700</h5>
                            <a href="#url" class="icon text-center"><span class="fa fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 top-top">
                    <div class="img-box">
                        <img src="~/Temlates/Vitrin/assets/images/b3.jpg" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Bora Bora</a></h5>
                        <div class="blog-date">
                            <p class="pos-date"><span class="fa fa-clock-o mr-1"></span>7 Days</p> <p class="pos-date text-right"><span class="fa fa-users mr-1"></span>Max People : 5</p>
                        </div>
                        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque labor.</p>
                        <div class="top-gap">
                            <h5>from $600</h5>
                            <a href="#url" class="icon text-center"><span class="fa fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    </div>
</section>
