@model Casgem_CodeFirstProject.Dal.Entities.About 

@{
    Layout = null;
}


<!doctype html>
<html lang="tr">
<head>
    @Html.Partial("_PartialHead")
</head>
<body id="home">

    @Html.Partial("_PartialHeader")


    @Html.Partial("_PartialJavascript")

    <!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner about editContent">
            <div class="container">
                <div class="breadcrumbs-sub">
                    <ul class="breadcrumbs-custom-path">
                        <li class="right-side propClone"><a href="/Default/Index/" class="editContent">Anasayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                        <li class="active editContent">Hakkımızda</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- breadcrumbs //-->

    <section class="w3l-content-with-photo-4" id="about">
        <div class="content-with-photo4-block editContent">
            <div class="container">

                <div class="my-bio">
                    <img src="@Html.ValueFor(x=>x.AboutImgUrl1)" alt="product" class="img-responsive about-me">
                    <h3 class="mt-lg-4 mt-3">@Html.ValueFor(x => x.AboutTitle1)</h3>
                    <p class="para mb-3">@Html.ValueFor(x => x.AboutDes1)</p>
                </div>

            </div>
        </div>

    </section>
    <section class="w3l-stats">
        <div class="main-w3 ">
            <div class="container">
                <div class="right-side">
                    <h3 class="title-big">@Html.ValueFor(x => x.AboutTitle2)</h3>
                    <p class="mt-4 para">
                        @Html.ValueFor(x => x.AboutDes2)
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-recent-work">
        <div class="jst-two-col">
            <div class="container">
                <div class="row">
                    <div class="my-bio cwp4-text col-lg-6">
                        <h3>@Html.ValueFor(x => x.AboutTitle3)</h3>
                        <p class="para mt-3 mb-lg-4 ">@Html.ValueFor(x => x.AboutDes3) </p>
                    </div>
                    <div class="col-lg-6 ">
                        <img src="@Html.ValueFor(x=>x.AboutImgUrl2)" alt="product" class="img-responsive about-me">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-team-main-6" id="team">
        <!-- /team-grids -->
        <div class="team-content-page editContent ">

            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 col-sm-6 column">
                        <a href="#url"><img class="img img-responsive" src="~/Temlates/Vitrin/assets/images/t1.jpg" alt=""></a>
                        <h4><a href="#url">John watson</a></h4>
                        <div class="w3l-team-7_bottom">
                            <div class="w3l-team-7_bottom-left">
                                <h6>Founder of company</h6>
                            </div>
                            <ul class="social_7 mt-3">
                                <li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 column">
                        <a href="#url"><img class="img img-responsive" src="~/Temlates/Vitrin/assets/images/t2.jpg" alt=""></a>
                        <h4><a href="#url">Alexander</a></h4>
                        <div class="w3l-team-7_bottom">
                            <div class="w3l-team-7_bottom-left">
                                <h6>Co-Founder of company</h6>
                            </div>
                            <ul class="social_7 mt-3">
                                <li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 column">
                        <a href="#url"><img class="img img-responsive" src="~/Temlates/Vitrin/assets/images/t3.jpg" alt=""></a>
                        <h4><a href="#url">Steve smith</a></h4>
                        <div class="w3l-team-7_bottom">
                            <div class="w3l-team-7_bottom-left">
                                <h6>Manager of company</h6>
                            </div>
                            <ul class="social_7 mt-3">
                                <li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 column">
                        <a href="#url"><img class="img img-responsive" src="~/Temlates/Vitrin/assets/images/t4.jpg" alt=""></a>
                        <h4><a href="#url">Steve smith</a></h4>
                        <div class="w3l-team-7_bottom">
                            <div class="w3l-team-7_bottom-left">
                                <h6>Manager of company</h6>
                            </div>
                            <ul class="social_7 mt-3">
                                <li><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#twitter"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /team-grids -->
    </section>

    <hr />


    @Html.Partial("_PartialFooter")


    @Html.Partial("_PartialMoveTop")




</body>

</html>