
@{
    Layout = null;
}


<!doctype html>
<html lang="tr">
<head>
    @Html.Partial("_PartialHead")
</head>
<body id="home">

    @Html.Partial("_PartialHeader")


    @Html.Partial("_PartialJavascript")


    <br />
    <br />
    <br />
    <h3>kdjkdjkdj</h3>

    @Html.Partial("_PartialFooter")


    @Html.Partial("_PartialMoveTop")




</body>

</html>